<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Admin page (Spring Security protected)</h1>

        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

    </div>

</div>
<!-- /.container -->
<div id="allProducts" class="tabcontent" >
    <div class="w3-container">
        <div class="container-fluid">
            <div class="row">
                <main class="col-sm-9  col-md-10  pt-3">
                    <h3>Event list</h3>
                    <div class="table-responsive">


                        <table class="table table-striped" id="myTable">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Price</th>
                                <th>Category</th>
                                <th>Name</th>
                                <th>Standard</th>
                                <th>Description</th>

                            </tr>
                            </thead>
                            <tbody>
                            <!--/*@thymesVar id="productDTOSList" type=""*/-->
                            <tr th:each="prodDTO : ${ productDTOSList }">


                                <td th:text="${ prodDTO.id }">ID
                                </td>
                                <td th:text="${ prodDTO.price}">Price</td>
                                <td th:text="${ prodDTO.productCategory.category}">Category</td>
                                <td th:text="${ prodDTO.name}">Name</td>
                                <td th:text="${prodDTO.productStandard.standard}">Standard</td>
                                <td th:text="${prodDTO.description}">Description</td>


                            </tr>
                            </tbody>
                        </table>
                    </div>
                </main>
            </div>

            <div><h2>Price Calculation Form</h2></div>


<div class="col-lg-12">

    <form th:action="@{/priceCalcForm}" th:objet="${priceCalcForm}" method="POST">


        <div class="form-group row">
            <label class="col-2 col-form-label" >Product Id:</label>
            <input class="form-control col-4" type="text" th:field="${priceCalcForm.productId}"/>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label" > Qantity:</label>
            <input class="form-control col-4" type="text" th:field="${priceCalcForm.quantity}"/>

        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label" >ClientID:</label>
            <input class="form-control col-4" type="text" th:field="${priceCalcForm.clientID}"/>
        </div>

        <div class="form-group row">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

<script th:src="@{/bootstrap/js/bootstrap.js}" src="/bootstrap/js/bootstrap.js"></script>

</div>


    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
