<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Result</title>
</head>
<body>
<div><h1>Result</h1></div>
<p th:text="'Product ID: ' + ${priceCalcForm.productId}" />
<p th:text="'Client ID: ' + ${priceCalcForm.clientID}" />
<p th:text="'Quantity ID: ' + ${priceCalcForm.quantity}" />
<p><h3>The price is :</h3></p>

<p th:text="'ActualPrice: ' + ${resultForm.actualPrice}" />
<p th:text="'Applied Discount: '+ ${resultForm.discount}"/>
<p><h4>The  old price is :</h4></p>
<p th:text="${resultForm.oldPrice}"/>
<a href="/admin">Calculate price for another product</a>


</body>
</html>
